* {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    top: 0;
    margin: 0;
    padding: 0;
}

body p {
    font-weight: 300;
}

body div.navigation {
    height: 62px;
    width: 100%;
    background: rgb(142,68,173);
    color: rgb(236,240,241);
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    line-height: 1em;
    overflow: none;
}

body div.navigation h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    float: left;
    text-align: right;
    width: 100px;
    border: none;
}

body div.navigation nav {
    background: inherit;
    width: 936px;
    margin: auto;
}

body div.navigation nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 62px;
}

body div.navigation nav ul li {
    display: inline;
    float: left;
}

body div.navigation nav ul li.active {
    border-bottom-left-radius: 2px;
    border-botton-right-radius: 2px;
    background-color: rgb(142,68,173);
    color: rgb(236,240,241);
}

body div.navigation nav ul li a {
    display: block;
    width: 60px;
    /* color: rgb(236,240,241); */
    color: rgb(142, 68, 173);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
}

body div.navigation nav ul li a:hover {
    /* background-color: rgb(155, 89, 182); */
    background-color: rgb(155,89,182);
    color: rgb(236,240,241);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

body div.navigation nav ul#nav-main {
    float: left;
}

body div.navigation nav ul#nav-account {
    float: right;
    margin-right: 10px;
}

body div.content {
    width: 936px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

body div.content p a {
    text-decoration: none;
    color: rgb(142,68,173);
}

body div.content h3 {
    display: box;
    border-top: 2px solid rgb(155,89,182);x
}

body div.signin {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

body div.signin form input[type=text],input[type=password] {
    border: 1px dotted rgba(189,195,199,1.0);
    font-family: "Oswald", sans-serif;
    font-size: x-large;
    color: rgba(44,62,80,1.0);
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

body div.signin form button {
    float: right;
}

h1,h2,h3,h4,h5,h6 {
    display: box;
    width: 100%;
}

h1,h2 {
    font-weight: 300;
}

h1,h2,h3 {
    border-bototm: rgb(142,68,173);
}

h3,h4,h5,h6 {
    font-weight: 500;
}

.hidden {
    display: none;
}