{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Lapdog</title>

	<link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300|Lato:400,300,700|Source+Sans+Pro:400,700,600,300' rel='stylesheet' type='text/css'>
    <link href="static/font-awesome-4.1.0.min.css" type="text/css" rel="stylesheet">
    <link href="static/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
  {{template "nav"}}
{{end}}