{{define "index"}}
{{template "header"}}
<div class="content">
  <h3>Quick-to-launch services</h3>
  <p>
    Have you ever wanted to quickly set up a development environment for
    building your next, killer app, but just don't have the resources
    to do so? Whatever your limiting factor is, be it your laptop, or funds,
    Lapdog can help!
  </p>
  <p>
    Here is the jist: select a service, and Lapdog will handle the rest.
  </p>

  <h4>Contained</h4>
  <p>
    Lapdog leverages the awesome power of <a href="http://docker.io">Docker</a>
    to quickly launch a service with a stock configuration. Should you
    wish to configure your service, Lapdog will rebuild the service with your
    configurations in place, and run it, just for you.
  </p>
  <p>
    Lapdog does not use Docker because it is the hottest thing in the room;
    we use it because it makes sense to. Running full-blown servers can get
    expensive, and often, if all you want to do is run a few services for
    you to develop your ideas with, you are going to be wasting your money
    on hardware you are not using.
  </p>
  <p>
    Let Lapdog handle the resources for you.
  </p>

  <h4>&quot;But...but I want a whole server!&quot;</h4>
  <p>
    We sure are not going to try and stop you! While Lapdog does not
    currently offer full-server isolation, it is definitely something
    we are thinking about, and will be offering in the future.
  </p>

  <h3>Are you ready?</h3>
  <p>
    We are always going to be adding new services you can launch, so if
    you cannot find the service you want to run, shoot us an email or reach
    out to us on Twitter, and we will more-than-happily do our best to 
    whip up that service for you.
  </p>

  <h4>Pricing</h4>
  <p>
    We are in a development-heavy crunch right now, and we aren't going to
    ask you for any money. That being said though, we are going to be
    running an invites system, so leave us your email, and we will let you
    know when you can take Lapdog for a walk.
  </p>
</div>
{{template "footer"}}
{{end}}
