{{define "nav"}}
<div class="navigation">
  <h2>Lapdog</h2>
  <nav role="navigation">
    <ul id="nav-main">
      <li><a href="/#/services">Services</a></li>
    </ul>

    <ul id="nav-account">
      <li id="nav-item-sign-in-out"><a href="/sign-in">Sign in</a></li>
      <li><a href="/#/account">Account</a></li>
    </ul>
  </nav>
</div>
{{end}}