{{define "signin"}}
{{template "header"}}
<div class="signin">
<form action="/sign-in" method="post">
	<input id="input-username" name="username" type="text" placeholder="username">
	<br>
	<input id="input-password" name="password" type="password" placeholder="password">
	<br>
	<button type="submit">Sign in</button>
</form>
</div>
{{template "footer"}}
{{end}}